body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(27, 31, 40);
    place-items: center;
    font-size: large;

}

header img {
    width: 20%;
    filter: invert(75%);
} 

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:darkslateblue;
}

footer {
    background-color: rgb(27, 31, 40);
    color: white;
}

header {text-align: center;}
footer {text-align: center;}

h2 {
    text-align: center;
    background-color: rgb(88,38,83);
    color: white;
    font-size: medium;
}

h1 {
    text-align: center;
    color: rgb(88,38,83);
}

#FooterBred
{
    width: 100%;
    background-color: rgb(27, 31, 40);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}


@media(max-width: 1350px)
{
    #FooterBred
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #FooterBred
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #FooterBred
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #FooterBred
    {
        font-size: 13px;
    }
    #Footer2
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #FooterBred
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #Footer2
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #Footer2
    {
        padding: 0 25px;
    }
}

#Map
{
    padding: 25px;
    display: grid;
    place-items: center;
}

.ShopNowGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 10px
}

.ShopNowGrid img {
    width: 60%;
}