body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(33, 33, 36);
    place-items: center;
}

header img {
    width: 30%;
    filter: invert(75%);
} 

a {
    color:white;
    text-decoration: none;
}

a:hover {
    color:darkslateblue;
}

footer {
    background-color: rgb(33, 33, 36);
    color: white;
}

header {text-align: center;}
footer {text-align: center;}